<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19322921730-anq0q100nq850f0hguq1ce2fn7gcos0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19322921730-anq0q100nq850f0hguq1ce2fn7gcos0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCQvKxE2z0A_43tFcRlOqAujxMvVOtiVYY</string>
	<key>GCM_SENDER_ID</key>
	<string>19322921730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GwanJong.project01</string>
	<key>PROJECT_ID</key>
	<string>jsproject-01</string>
	<key>STORAGE_BUCKET</key>
	<string>jsproject-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19322921730:ios:3dc044971587a37650181b</string>
	<key>DATABASE_URL</key>
	<string>https://jsproject-01.firebaseio.com</string>
</dict>
</plist>